<a href="https://colab.research.google.com/github/shreecode19/python/blob/main/assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Students = [‘jack’,’jill’,’david’,’silva’,’ronaldo’]

Marks = [‘55’,’56’,’57’,’66’,’76’]
Make a dictionary using lists above and delete the key-value (students:marks) pairs with lowest marks.

In [ ]:
students = ['jack','jill','david','silva','ronaldo']

marks = ['55','56','57','66','76']

result = {}

for a in students:
  
    for b in marks:
      
        result[a] = b
        
        marks.remove(b)
        
        break  
        
print(result)

a = min(result, key=result.get)

del result[a]

print("\n", result)

{'jack': '55', 'jill': '56', 'david': '57', 'silva': '66', 'ronaldo': '76'}

 {'jill': '56', 'david': '57', 'silva': '66', 'ronaldo': '76'}

2. Euro = {‘France’:5,’Germany’:2,’Portugal’:3,’Hungary’:6}

Make two lists from above dictionary

In [ ]:
Euro = {'France':5,'Germany':2,'Portugal':3,'Hungary':6}

print("List of countries = ",list(Euro.keys()))

print("List of repetition = ", list(Euro.values()))

List of countries =  ['France', 'Germany', 'Portugal', 'Hungary']
List of repetition =  [5, 2, 3, 6]

3. users = {'g91':{'name':'Aron','age':55,'poison':'Old monk'},
        'twir56':{'name':'Visakha','age':26,'poison':'coca cola'},
        'jsdl8':{'name':'Saudi','age':12,'poison':'hinwa'}}
Generate a list of usernames, name, age and poison from the above dictionary.

In [ ]:
 users = {'g91':{'name':'Aron','age':55,'poison':'Old monk'},
        'twir56':{'name':'Visakha','age':26,'poison':'coca cola'},
        'jsdl8':{'name':'Saudi','age':12,'poison':'hinwa'}}

username = [i for i in users]

print("List of username: ", username)

name = [users['g91']['name'], users['twir56']['name'], users['jsdl8']['name']]

print("List of Names: ", name)

age = [users['g91']['age'], users['twir56']['age'], users['jsdl8']['age']]

print("List of Ages: ", age)

poison = [users['g91']['poison'], users['twir56']['poison'], users['jsdl8']['poison']]

print("List of Poisons: ", poison)

List of username:  ['g91', 'twir56', 'jsdl8']
List of Names:  ['Aron', 'Visakha', 'Saudi']
List of Ages:  [55, 26, 12]
List of Poisons:  ['Old monk', 'coca cola', 'hinwa']

4. Take the above list and put it in order.

In [ ]:
list.sort(username), print(username)

list.sort(name), print(name)

list.sort(age), print(age)

list.sort(poison)

print(poison)

['g91', 'jsdl8', 'twir56']
['Aron', 'Saudi', 'Visakha']
[12, 26, 55]
['Old monk', 'coca cola', 'hinwa']

5. Create an empty dictionary called milk_carton. Add the following key/value pairs.You can make up the values or use a real milk carton.
Expiration_date: a tuple with day, month, year
Vol: volume of milk 
Cost: cost of milk
Brand_name

In [ ]:
milk_carton = { }

milk_carton['amul'] = {'Exp date':'(09,02,2021)','Vol':'2L','Cost':'400','Brand_name':'Amul'}

milk_carton['ddc'] = {'Exp date':'(02,03,2021)','Vol':'1L','Cost':'200','Brand_name':'DDC'}

milk_carton['nestle'] = {'Exp date':'(02,03,2021)','Vol':'1L','Cost':'200','Brand_name':'DDC'}

milk_carton['everyday'] = {'Exp date':'(23,01,2021)','Vol':'3L','Cost':'600','Brand_name':'Everyday'}

print(milk_carton)

{'amul': {'Exp date': '(09,02,2021)', 'Vol': '2L', 'Cost': '400', 'Brand_name': 'Amul'}, 'ddc': {'Exp date': '(02,03,2021)', 'Vol': '1L', 'Cost': '200', 'Brand_name': 'DDC'}, 'nestle': {'Exp date': '(02,03,2021)', 'Vol': '1L', 'Cost': '200', 'Brand_name': 'DDC'}, 'everyday': {'Exp date': '(23,01,2021)', 'Vol': '3L', 'Cost': '600', 'Brand_name': 'Everyday'}}

6.  Print out the values of all of the elements of the milk_carton using the values in the dictionary.

In [ ]:
exp_date = [(milk_carton['amul']['Exp date']), (milk_carton['ddc']['Exp date']), (milk_carton['nestle']['Exp date']), (milk_carton['everyday']['Exp date'])]

vol = [(milk_carton['amul']['Vol']), (milk_carton['ddc']['Vol']), (milk_carton['nestle']['Vol']), (milk_carton['everyday']['Vol'])]

cost = [(milk_carton['amul']['Cost']), (milk_carton['ddc']['Cost']), (milk_carton['nestle']['Cost']), (milk_carton['everyday']['Cost'])]

brandname = [(milk_carton['amul']['Brand_name']), (milk_carton['ddc']['Brand_name']), (milk_carton['nestle']['Brand_name']), (milk_carton['everyday']['Brand_name'])]

print("The values of Expiry date are: ", exp_date)

print("The values of Volumes are: ", vol)

print("The values of Costs are: ", cost)

print("The values of  Brand Names are: ", brandname)

The values of Expiry date are:  ['(09,02,2021)', '(02,03,2021)', '(02,03,2021)', '(23,01,2021)']
The values of Volumes are:  ['2L', '1L', '1L', '3L']
The values of Costs are:  ['400', '200', '200', '600']
The values of  Brand Names are:  ['Amul', 'DDC', 'DDC', 'Everyday']

7. Show how to calculate the cost of six cartons of milk based on the cost of the milk_carton.

In [ ]:
price = int(milk_carton['amul']['Cost'])

print("The cost of six milk cartons is: ", price * 6)

The cost of six milk cartons is:  2400