<a href="https://colab.research.google.com/github/shreecode19/python/blob/main/assingnment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Make a list of ten students in your class. Print the name of each student whose name starts with ‘B’.

In [ ]:
names = [ 'Suvaya' , 'Ayush' , 'Nayan' , "AlishB" , 'Shrijan' , 'Shreejan' , 'Reason' , 'Nischal' , 'Binod' , 'Bibek']

for name in names:

#selecting names with first letter B
 if name[0] == 'B':
   
   print(name)

Binod
Bibek

### Make a list of ten students in your class. Print the name of each student whose name ends with ‘a’.

In [ ]:
names = [ 'Suvaya' , 'Ayusha' , 'Nayan' , "Alisha" , 'Shrijan' , 'Shreejan' , 'Reason' , 'Nischal' , 'Binod' , 'Bibek']

print(list(filter(lambda x: x.lower().endswith("a"), names)) )

['Suvaya', 'Ayusha', 'Alisha']

### Print all the unique elements in the following list 
fifa = ['Italy' , 'Argentina' , 'Germany' , 'Brazil' , 'France' , 'Brazil' , 'Italy' , 'Spain' , 'Germany' , 'France']

In [ ]:
fifa = ['Italy' , 'Argentina' , 'Germany' , 'Brazil' , 'France' , 'Brazil' , 'Italy' , 'Spain' , 'Germany' , 'France']

unique_list = set(fifa)

#converting into list
a = list(unique_list)

print(a)

['Italy', 'Argentina', 'Spain', 'Germany', 'France', 'Brazil']

### Change the first alphabet of all elements of the following list to capital.
Bob = [‘hurricane’ , ’tambourine’ , ’blowing’ , ’numb’]

In [ ]:
Bob = ['hurricane' , 'tambourine' , 'blowing' , 'numb']

#converting first alphabet to capital
lst = [x.upper() for x in Bob]

print(lst)

['HURRICANE', 'TAMBOURINE', 'BLOWING', 'NUMB']

### A = [‘a’ , ’b’ , ’c’ , ’d’] B = [‘1’ , ’a’ , ’2’ , ’b’]
Find AUB and A∩B

In [ ]:
A = ['a', 'b' , 'c' , 'd']
B = ['1' , 'a' , '2' , 'b'] 

#for union
union = list(set(A) | set(B))

print("AUB =",union)


#for intersection
intersection = list(set(A) & set(B))

print("A∩B =",intersection)

AUB = ['b', '2', 'd', '1', 'a', 'c']
A∩B = ['a', 'b']

In [ ]:
def union(A, B): 
    lst3 = A + [value for value in B if value not in A] 
    return lst3 
  
A = ['a', 'b' , 'c' , 'd']
B = ['1' , 'a' , '2' , 'b']
print("AUB =",union(A, B))

AUB = ['a', 'b', 'c', 'd', '1', '2']

In [ ]:
def intersection(A, B): 
    lst3 = [value for value in A if value in B] 
    return lst3 
  
A = ['a', 'b' , 'c' , 'd']
B = ['1' , 'a' , '2' , 'b']
print("A∩B=",intersection(A, B))

A∩B= ['a', 'b']

###Calculate the mean and standard deviation of the following list:
Numbers = [1,2,3,5,88,99,55,33,41,52]

In [ ]:
#importing statistics module
import statistics

Numbers = [1,2,3,5,88,99,55,33,41,52]

#sum of numbers in given list
a = sum(Numbers)

#number of items in given list
b = len(Numbers)

#calculating mean
mean = a/b

print("The mean of given list is", mean)

#calculating Standard deviation and printing it
print("Standard Deviation of the Numbers is % s " %(statistics.stdev(Numbers)))

The mean of given list is 37.9
Standard Deviation of the Numbers is 36.08462276372028